.shop-container{
  margin: 100px 0;
  text-align: center;
  font-family: gruppo;
}

.shop-container h2{
  font-family: oxanium;
  padding: 50px 0;
  font-size: 3rem;
}

.shop-item{
  margin:25px 0.5%;
  width: 19%;
  transition: 0.3s;

  height: 470px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  &:hover{
    transform: translateY(-10px);
  }
  
}

.shop-item img{
  width: 75%;
  height: 300px;
  object-fit: cover;
  border-radius: 7px;
}

.general-container{
  width: 85%;
  margin: 0px auto;
}

.shop-item h3{
  margin: 10px auto;
  font-size: 1.3rem;
}

.shop-item b{
  font-size: 1.5rem;
}

.shop-item p{
  margin-top: 10px;
}

.shop-item button{
  width: 90%;
  font-size: 1rem;
  margin-top: 20px;
}