.navigation-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  text-align: center;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  z-index: 999;
  font-family: gruppo;
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.122); 
}

.navigation-bar ul {
  width:70% ;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.navigation-bar ul li {
  width: 100%;
  cursor: pointer;
  &:hover{
    background-color: rgba(255, 255, 255, 0.203);
  }
}

.navigation-bar ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  &:hover{
    background-color: rgb(204, 202, 202);
    color: black;
  }
}

.navigation-bar .img-container{
  width: 10%;
  padding: 10px;
}

.navigation-bar .img-container img{
  width: 50%;
  border-radius: 20%;
}



