.page-1{
  width: 80%;
  margin: 100px auto;
  background-color: white;
  display: flex;
}

.home-container .left-container{
  width: 40%;
  text-align: left;
  color: rgb(0, 0, 0);
  display: flex;          
  flex-direction: column;  
  justify-content: center;
  padding: 5%;
}

.home-container .right-container{
  width: 60%;

}

.home-container .left-container h2{
  font-family: oxanium; 
  font-size: 3.7rem;
  letter-spacing: 2px;
}

.home-container .left-container p{
  font-family: gruppo;
  font-weight: 400;
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0;
}

.home-container .right-container img{
  width: 100%;
}

.home-container .left-container button{
  background-color: transparent;
  border: 2px solid black;
  border-left: none;
  width: 90%;
  padding: 15px;
  font-weight: bold;
  font-family: gruppo;
  font-size: 1.7rem;
  margin-top: 20px;
  transition: 0.5s;
  cursor: pointer;
  &:hover{
    background-image: url(https://cosmosatyourdoorstep.com/wp-content/uploads/2018/02/star-field-3.jpg);
    background-size: 100%;
    color: white;
  }
  
}

.page-2{
  width: 80%;
  margin: 150px auto;
}

.page-2 .printed-bags{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://i.etsystatic.com/19263068/r/il/5c061d/1968866216/il_570xN.1968866216_kazo.jpg);
  background-size: 100%;
  background-position: 0 -100px;
}

.page-2 .printed-mugs{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://i0.wp.com/www.returngiftwala.com/wp-content/uploads/2021/03/space-theme-astronaut-design-mug.jpg?ssl=1);
  background-size:100% ;
  background-position: 0 -50px;

}
.page-2 .printed-bags, .printed-mugs{
  display: flex;          
  flex-direction: column;  
  justify-content: center;
  padding: 5%;
}
.page-2 .printed-bags, .printed-mugs p{
  font-family: gruppo;
  font-weight: bold;
  color: white;
  font-size: 2rem;

}


.page-2 .text-box{
  padding: 100px 0;
}

.page-2 .img-1{
  object-fit: cover;
}


.page-2 .text-box p{
  font-family: gruppo;
  font-weight: bold;
  font-size: 2.5rem;
}

.page-2 .right-box{
  text-align: right;
}



.printed-bags button, .printed-mugs button{
  text-align: left;
  border: 2px solid white;
  border-left: none;
  background-color: transparent;
  width: 50%;
  margin-top: 20px;
  padding: 15px 0;
  font-family: gruppo;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  transition: 0.4s;
  &:hover{
    border: 2px solid rgb(209, 255, 156);
    border-left: none;
    background-color: white;
    color: black;
  }
  &:active{
    border: 2px solid white;
    border-left: none;
    color: white;
  }
}

.page-3{
  display: flex;
  justify-content: center;
  background-color: rgb(204, 204, 204);
  padding: 40px;
}
.page-3 img{
  width: 20%;
}

.page-3 h2{
  font-family: oxanium;
  font-size: 2rem;
}

.page-3 p{
  font-family: gruppo;
  font-size: 1.6rem;
  line-height: 2.5;
}

.page-3 .text-box{
  width: 50%;
  padding: 20px;
}
.page-4{
  text-align: center;
  margin: 100px;
  font-family: gruppo;

}

.page-4 hr{
  width: 10%;
  border: 4px solid rgb(74, 125, 201);
  margin: 20px auto;
  border-radius: 10px;
}

.page-4 h2{
  font-size: 3rem;
}

.page-4 .articles-container{
  width: 80%;
  margin: 50px auto;

}
.page-4 .articles-container .article-container{
  width: 30%;
  margin: 1.5%;
  background-color: rgb(204, 204, 204);
  border-radius: 20px;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s;
  cursor: pointer;

  position: relative;
  &:hover{
    transform: translateY(-13px);
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.325); 
  }
}

.page-4 .articles-container .article-container .text-box{
  background-color: rgba(0, 0, 0, 0.46);
  width: 100%;
  height: 100px;
  position:absolute;
  padding: 10px;
  bottom: 0;
  overflow: hidden;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.page-4 .articles-container .article-container h2{
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
}

.page-4 .articles-container .article-container p{
  font-size: 1.1rem;
  color: white;
  margin-top: 10px;
}


.page-5{
  align-items: center;
justify-content: center;
background-color: rgb(74, 125, 201);
}

.page-5 img{
  width: 30%;
}

.page-5 .text-box{
  width: 50%;
}

.page-5 h2{
  font-family: oxanium;
  font-size: 2.3rem;
}

.page-5 p{
  font-family: gruppo;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 30px;
}


.page-6{
  margin: 200px auto;
}

.page-6 .general-container{
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-6 .general-container div{
  text-align: center;
  width: 33%;
}

.page-6 .general-container div img{
  width: 100%;
  height: 550px;
  object-fit: cover;
}

.page-6 .general-container div h3{
  font-family: gruppo;
  width: 100%;
  font-size: 2.7rem;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-7{
  width: 100%;
  margin: 50px 0;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://www.londonlibrary.co.uk/images/CHARLOTTE/NEW_WEBSITE_IMAGES/LF_Wide_Back_Stacks.jpg);
  background-attachment: fixed;
  background-position: -100px;
  text-align: center;
  padding: 130px 50px;
}

.page-7 h2{
  color: white;
  font-family: oxanium;
  font-size: 3rem;
}

.page-7 p{
  font-family: gruppo;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin: 50px;
}

.page-8{
  text-align: center;
  margin: 70px;
}

.page-8 h2{
  font-family: gruppo;
  font-weight: bold;
  font-size: 3rem;
}

.page-8 hr{
  width: 10%;
  margin: 20px auto;
  border: 4px solid rgb(74, 125, 201);
  border-radius: 10px;
}


.page-8 .book-container{
  width: 80%;
  margin: 50px auto;
}


.page-8 .book-container .book-item{
  width: 23.5%;
  margin: 0.6%;
  transition: 0.5s;
  &:hover{
    transform: translateY(-10px);
  }
}

.page-8 .book-container .book-item img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 7px;
}

.page-8 .book-container .book-item h2{
  font-size: 1.5rem;
}

.page-8 .book-container .book-item p{
  font-family: gruppo;
  font-size: 1.3rem;
}

.page-8 .book-container .book-item p i{
  font-size: 1rem;
 }

 .page-9{
    width: 70%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
 }

 .page-9 .comment-box{
  width: 32%;
  text-align: center;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: 0.5s;
  &:hover{
    background-color: rgb(234, 233, 233);
  }
  
 }

 .page-9 .comment-box img{
  width: 20%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
 }

 .page-9 .comment-box p{
  font-family: gruppo;
  font-size: 1.2rem;
 }

 .page-9 .comment-box h3{
  font-family: gruppo;
  font-weight: bold;
  font-size: 1.6rem;
 }

 .page-10{
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, 50%);
  gap: 10px;
  margin: 100px auto;

 }

 .page-10 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s;
  &:hover{
    filter: grayscale(80%);
  }
 }

 .page-10 .img-1{
    grid-column: 1/2;
    grid-row: 1/3;
 }
.page-10 .img-2{
  grid-column: 2/3;
  grid-row: 1/2;
}

.page-10 .img-3{
  grid-column: 3/4;
  grid-row: 1/2;
}

.page-10 .img-4{
  grid-column: 2/3;
  grid-row: 2/3;
}

.page-10 .img-5{
  grid-column: 3/4;
  grid-row: 2/3;
}
  


/* 
 .page-10 .left-container{
  width: 50%;
 }

 .page-10 .left-container img{
  width: 100%;
  height: 700px
 }

 .page-10 .right-container{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 }

 .page-10 .right-container img{
  width: 48%;
  margin: 1%;
  object-fit: cover;
  height: 50%;
 } */










